.deleteButton {
  appearance: none;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  padding-left: 5px;
}

.deleteButton img {
  cursor: pointer;
  width: 2.5em;
}

.deleteButton img:hover {
  cursor: pointer;
  width: 2.5em;
}
